<div class="main-container">
  <header class="header">
    <img alt="logo-btg-app" src="" class="image">
    <div class="container-buttons-header">
      <button routerLink="/auth" routerLinkActive="active" ariaCurrentWhenActive="page">
        Iniciar sesión
      </button>
      <button routerLink="/register" routerLinkActive="active" ariaCurrentWhenActive="page">
        Crear Cuenta
      </button>
    </div>
  </header>
  <div class="container-body">
    <div class="container-title-description">
      <h2 class="title">
        BTG Pactual
      </h2>
      <p class="description">
        El Asset Management de BTG Pactual se dedica exclusivamente a suministrar servicios de gestión y administración de fondos de inversiones y carteras administradas
      </p>
      <button>
        Saber mas
      </button>
    </div>
    <div class="container-logo">
      <img alt="logo-portada-app" src="assets/images/btg-portada.jpg" class="image">
    </div>
  </div>
</div>
